version: '3'

services:
    volindo-app:
        container_name: volindo-app
        build: .
        command: 'python manage.py runserver 0.0.0.0:8000'
        # command: 'gunicorn volindoapp.wsgi:application -b 0.0.0.0:8000 -w 6 -t 29 --log-level DEBUG'
        volumes:
            - ./src/:/code
        environment:
            - DATABASE_NAME=volindo
            - DATABASE_USER=volindo
            - DATABASE_PASSWORD=DB6n5UXq9g0&
            - DATABASE_HOST=awseb-e-rdeyecm2ym-stack-awsebrdsdatabase-ddp0qph2jq4v.chtfdtprc7yk.us-east-1.rds.amazonaws.com
            - DATABASE_PORT=5432
            - CACHE_LOCATION=redis://vcache:6379/0
            - CACHE_HOST=vcache
            - CACHE_PORT=6379
            - CACHE_DB=0
            - DEBUG=True
            - SECRET_KEY=vol-service-secret
            - TIME_ZONE=America/Mexico_City
            - ALLOWED_HOSTS=*
        ports:
            - '80:8000'
