version: '3'

services:
    volindo-app:
        container_name: volindo-app
        build: .
        command: 'python manage.py runserver 0.0.0.0:8000'
        # command: 'gunicorn volindoapp.wsgi:application -b 0.0.0.0:8000 -w 6 -t 29 --log-level DEBUG'
        volumes:
            - .:/code
        env_file:
        - .env
        ports:
            - '8000:8000'
        depends_on:
            - vdb
            - vcache
    volindo-worker:
        container_name: volindo-worker
        build: .
        command: 'celery -A volindoapp worker -l INFO'
        volumes:
            - .:/code
        env_file:
           - .env
        depends_on:
            - vdb
            - vcache
    vdb:
        container_name: vdb
        image: postgres:14
        command: ["postgres", "-c", "log_statement=all"]
        environment:
            - POSTGRES_DB=vdb
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_PORT=5432
        expose:
            - '5432'
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
            timeout: 60s
            interval: 3s
            retries: 2
        volumes:
            - vdb:/var/lib/postgresql/data
    vcache:
        image: redis
        container_name: vcache
        expose:
            - '6379'
        command: redis-server
        volumes: 
            - vcache:/data
volumes:
    vdb:
    vcache:
