version: '3'

services:
    volindo-app:
        container_name: volindo-app
        build: .
        command: 'python manage.py runserver 0.0.0.0:8000'
        # command: 'gunicorn volindoapp.wsgi:application -b 0.0.0.0:8000 -w 6 -t 29 --log-level DEBUG'
        volumes:
            - .:/code
        environment:
            - DATABASE_NAME=vdb
            - DATABASE_USER=postgres
            - DATABASE_PASSWORD=postgres
            - DATABASE_HOST=vdb
            - DATABASE_PORT=5432
            - CACHE_LOCATION=redis://vcache:6379/0
            - CACHE_HOST=vcache
            - CACHE_PORT=6379
            - CACHE_DB=0
            - DEBUG=True
            - SECRET_KEY=vol-service-secret
            - TIME_ZONE=America/Mexico_City
            - ALLOWED_HOSTS=*,127.0.0.1
            - HOST=http://localhost:8000
            - CSRF_TRUSTED_ORIGINS=http://127.0.0.1
            - PAYMENT_TOKEN=https://api.stripe.com/v1/tokens
            - PAYMENT_URL=https://api.stripe.com/v1/charges
            - DEFAULT_CURRENCY=USD
            - PAYMENT_AUTH=sk_test_51M0AYpJLqNE3DWQ6UJQ7S4bxtmYKZJyRwokDelUSvRiws5ZUjmzFouo1llhQUqjO15pYB7nzbvdY10jMnzEzcbgK00oymrIfjl
        ports:
            - '8000:8000'
        depends_on:
            - vdb
            # - vcache
    # volindo-worker:
    #     container_name: volindo-worker
    #     build: .
    #     command: 'celery -A volindoapp worker -l INFO'
    #     volumes:
    #         - ./src/:/code
    #     environment:
    #         - DATABASE_NAME=vdb
    #         - DATABASE_USER=postgres
    #         - DATABASE_PASSWORD=postgres
    #         - DATABASE_HOST=vdb
    #         - DATABASE_PORT=5432
    #         - CACHE_LOCATION=redis://vcache:6379/0
    #         - CACHE_HOST=vcache
    #         - CACHE_PORT=6379
    #         - CACHE_DB=0
    #         - DEBUG=True
    #         - SECRET_KEY=vol-service-secret
    #         - TIME_ZONE=America/Mexico_City
    #         - ALLOWED_HOSTS=*
    #         - TMX_HOST=http://test.services.travelomatix.com/webservices/index.php/hotel_v3/service/Search
    #         - TMTX_USERNAME=test273344
    #         - TMTX_DOMAINKEY=TMX5262731660138834
    #         - TMTX_SYSTEM=test
    #         - TMTX_PASSWORD=test@273
    #     depends_on:
    #         - vdb
    #         - vcache
    vdb:
        container_name: vdb
        image: postgres:14
        # command: ["postgres", "-c", "log_statement=all"]
        environment:
            - POSTGRES_DB=vdb
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_PORT=5432
        expose:
            - '5432'
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
            timeout: 60s
            interval: 3s
            retries: 2
        volumes:
            - vdb:/var/lib/postgresql/data
    # vcache:
    #     image: redis
    #     container_name: vcache
    #     expose:
    #         - '6379'
    #     ports:
    #         - '6379:6379'
    #     command: redis-server
    #     volumes: 
    #         - vcache:/data
volumes:
    vdb:
    # vcache:
